header{
    background: #2e3c50;
    color: #ffffff;
}

footer{
    background: #2e3c50;
    color: #ffffff;
}

aside{
    background: #c13e3e;
    color: #fff;
}

.main{
    background: #a4a4a4;
}

.cor{
    background: #5229d9;
    color: #fff;
}

.cor2{
    background: #628b60;
    color: #FFF;
}